<div class="formtainer-hero">
    <form id="contact" action='/hero'>
        <h3><img style="height:80px;" src="https://cdn.pixabay.com/photo/2018/03/22/11/35/super-hero-3250148__340.jpg">Generate a Super-Hero!</h3>

        <fieldset>
            <input id="heroname" name="heroname" placeholder="Hero Name" type="text" tabindex="1" required autofocus>
        </fieldset>

        <fieldset>
            <input id="herosquad" name="herosquad" placeholder="Hero's Squad" type="text" tabindex="2" required autofocus>
        </fieldset>

        <fieldset>
            <input id="heropower" name="Heropower" placeholder="Hero's Power" type="text" tabindex="3" required autofocus>
        </fieldset>

        <fieldset>
            <input id="heroweakness" name="heroweakness" placeholder="Hero's Weakness" type="text" tabindex="4" required autofocus>
        </fieldset>

        <fieldset>
            <input id="heroage" name="heroage" placeholder="Hero's Age" type="text" tabindex="5" required autofocus>

        </fieldset>

        <fieldset>

        </fieldset>



    </form>

</div>