<!DOCTYPE html>
<html>
<head>
<title>Hero Squad!</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
<link rel="stylesheet" type="text/css" href="app.css">
</head>

<body>
<div class="">
    <nav id="navbar" class="">
        <div class="nav-wrapper">

            <ul id="menu">
                <li><a href="/">Home</a></li><!--
                --><li><a href="/squadform">Generate A Squad</a></li>
            </ul>


        </div>
    </nav>
</div>
</body>

</html>