<div class="slide-container">
    <div class="wrapper">
        <div class="clash-card_image clash-card_image--superwoman">
            <img src="https://cdn.pixabay.com/photo/2018/04/10/22/18/spiderman-3309033__340.jpg">
        </div>

    </div>
</div>