<div class="slide-container">
    <div class="wrapper">
        <div class="clash-card_image clash-card_image--superwoman">
            <img src="https://cdn.pixabay.com/photo/2018/04/10/22/18/spiderman-3309033__340.jpg">
        </div>
        <div class="clash-card__level clash-card__level--wizard">Level Squad!</div>
        <div class="clash-card__unit-name">SQUAD CREATED</div>
        <div class="clash-card__unit-description">
            <p><i>Squad Name: -</i>  $squadname</p>

            <p><i>Squad Cause: -</i>  $squadcause</p>

            <p><i>Number of Squad Members: -</i>  $squadnumber</p>


        </div>
</div>
</div>