<div class="container">
    <form id="contact" action='/squad'>
        <h4><i>Generate A Hero-Squad!</i></h4>
        <fieldset>
            <input id="squadname" name="squadname" placeholder="Squad Name" type="text" tabindex="1" required autofocus>
        </fieldset>

    </form>
</div>